{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}  
{% bootstrap_javascript jquery='full' %} 
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
        <h2 class="text-center">Login</h2>
        <div class="text-center">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-info">Login</button>
              </form>
        </div>
    </div>
  </div>
</div>
{% endblock %}
